<div class="register-subpanel">
  <div class="register-subpanel-header">General Purpose</div>
  <div class="register-group-controls">
    <select class="register-group-select" data-ide-facade-target="groupSelect" data-action="ide-facade#switchGroup">
    </select>
  </div>
  <div class="register-group-container" data-ide-facade-target="generalContainer">
  </div>
</div>
