<div class="register-subpanel">
  <div class="register-subpanel-header">General Purpose</div>
  <div class="register-group-controls">
    <select class="register-group-select" data-registers-target="groupSelect" data-action="registers#switchGroup">
    </select>
  </div>
  <div class="register-group-container" data-registers-target="generalContainer">
  </div>
</div>
