<div class="panel-header">
  <button type="button" class="panel-toggle" data-resizable-panels-target="editorToggle" data-action="click->resizable-panels#toggleEditor">-</button>
  <span class="panel-header-label">Source</span>
</div>
<div class="editor-body" data-resizable-panels-target="editorPanel">
  <div class="line-numbers" data-ide-facade-target="lineNumbers">
    <span>1</span>
  </div>
  <%= form.text_area :source,
    class: "editor-textarea",
    data: {
      ide_facade_target: "textarea",
      action: "input->ide-facade#updateLineNumbers scroll->ide-facade#syncScroll keydown->ide-facade#handleKeydown"
    },
    spellcheck: false,
    autocomplete: "off",
    autocorrect: "off",
    autocapitalize: "off"
  %>
</div>
<div class="resize-handle resize-handle-v" data-resizable-panels-target="editorResize" data-action="mousedown->resizable-panels#startEditorResize"></div>
