<div class="ide-main">
  <div class="panel-header">
    <span class="panel-header-label">
      Source
    </span>
    <%= render "listing-button" %>
  </div>
  <div class="editor-container" data-ide-facade-target="panel">
    <div class="editor-body" data-controller="text-format">
      <%= render "line-numbers" %>
      <%= render "text-field", form: form %>
      <div class="listing-divider">
      </div>
      <%= render "listing" %>
    </div>
  </div>
</div>
