<div data-controller="resizable-output-panel">
  <div class="panel-header">
    <button type="button" class="panel-toggle" data-resizable-panels-target="outputToggle" data-action="click->resizable-panels#toggleOutput">-</button>
    <span class="panel-header-label">Output</span>
  </div>
  <div class="output-container" data-resizable-panels-target="outputPanel" data-resizable-output-panel-target="resizableOutputPanel">
    <div class="output-body">
      <textarea class="output-textarea" data-ide-facade-target="output" readonly></textarea>
    </div>
    <div class="resize-handle resize-handle-v" data-action="mousedown->resizable-output-panel#resize"></div>
  </div>
</div>
