<div class="register-panel" data-resizable-panels-target="registerPanel">
  <div class="register-header">
    Registers
  </div>
  <div class="register-panel-scroll" data-resizable-panels-target="registerScroll">
    <%= render "special_registers" %>
    <%= render "general_registers" %>
  </div>
</div>
