<div class="register-panel" data-controller="registers">
  <div class="register-header">
    Registers
  </div>
  <div class="register-panel-scroll">
    <%= render "special_registers" %>
    <%= render "general_registers" %>
  </div>
</div>
