<div class="register-panel">
  <div class="register-header">
    Registers
  </div>
  <div class="register-panel-scroll">
    <div class="register-subpanel">
      <div class="register-subpanel-header">Special Purpose</div>
      <div class="register-group-container" data-ide-facade-target="specialContainer">
      </div>
    </div>
    <div class="register-subpanel">
      <div class="register-subpanel-header">General Purpose</div>
      <div class="register-group-controls">
        <select class="register-group-select" data-ide-facade-target="groupSelect" data-action="ide-facade#switchRegisterTab">
        </select>
      </div>
      <div class="register-group-container" data-ide-facade-target="generalContainer">
      </div>
    </div>
  </div>
</div>
