<div class="register-panel" data-resizable-panels-target="registerPanel">
  <div class="resize-handle resize-handle-h" data-resizable-panels-target="registerResize" data-action="mousedown->resizable-panels#startRegisterResize"></div>
  <div class="register-header">
    <button type="button" class="panel-toggle" data-resizable-panels-target="registerToggle" data-action="click->resizable-panels#toggleRegister">-</button>
    Registers
  </div>
  <div class="register-panel-scroll" data-resizable-panels-target="registerScroll">
    <%= render "special_registers" %>
    <%= render "general_registers" %>
  </div>
</div>
