<% content_for(:title, "MMIX Simulator") %>
<nav><%= render "layouts/navbar" %><%= link_to "back", mmixal_programs_path %></nav>

<%= render partial: "editor", locals: {mmixal_program: @mmixal_program}%>

<div class="output-container">
  <div class ="output-header">
    <span class="output-title">Output</span>
  </div>
  <div class="output-body">
    <div class="output-gutter" aria-hidden="true"></div>
    <pre class="output-pre"></pre>
  </div>
</div>
