<% content_for(:title, "MMIX Simulator") %>
<nav><%= render "layouts/navbar" %><%= link_to "back", mmixal_programs_path %></nav>

<%= render partial: "editor", locals: {mmixal_program: @mmixal_program}%>

