<%= form_with url: registration_path, model: @user || User.new do |f| %>
  <div>username</div>
  <%= f.text_field :user_name %>
  <div>email</div>
  <div><%= f.text_field :email_address %></div>
<% end %>
