<nav><%= render "layouts/navbar" %></nav>

<div class="landing">
  <%= image_tag "logo.svg", alt: "mmix simulator", class: "landing-logo" %>

  <div class="landing-links">
    <%= link_to "Why MMIX?", about_path %>
    <a href="https://github.com/Wirt4/mmix-simulator" target="_blank" rel="noopener">GitHub Repo</a>
  </div>
  <div class="landing-buttons">
    <%= link_to "Try it Out", new_session_path, class: "btn btn--tactile" %>
  </div>
</div>
